@charset "ISO-8859-1";

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

i {
    color: #939393;
    margin-right: 15px;
    font-size: 15px;
}

.active-icon {
	/* color: #ff7697; */
	color: #4156f3;
}

span {
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #939393;
}

.username span {
    font-weight: bolder;
}

a:hover {
    color: #4156f3;
}

i:hover {
	color: white;
}

.item:hover {
    color: white;
}

.sidebar {
    background-color: #1b1b29;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #939393;
    align-items: center;
    justify-content: center;
}

.username {
    font-size: larger;
    color: white;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: large;
}

.content {
    background-color: #e8eff9;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form styling: */

.form-container {
	background-color: white;
	width: fit-content;
	border-radius: 8px;
	padding: 40px;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
	margin-top: 5px;
}

.form-select {
	padding: 3px 8px;
	border-radius: 4px;
	font-size: 16px;
}

.active-link {
	color: white;
}

.form-input {
	width: 400px;
	padding-left: 5px;
	padding: 4px 5px;
	border-radius: 5px;
	border: solid 1px gray;
	margin: 5px 0;
	font-size: 18px;
}

.form-button {
	margin-top: 10px;
	padding: 8px 14px;
	border-radius: 5px;
	background-color: #4156f3;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.form-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


