@charset "ISO-8859-1";

body {
	height: 100vh;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
}

div{
	height: fit-content;
	width: fit-content;
	padding: 20px;
	background-color: pink;
	border-radius: 10px;
}
